/* Estilos para la sección "Sobre Nosotros" */
.sobre-nosotros {
    display: flex;

    align-items: center;
}

.sobre-nosotros div {
    text-align: center;
}

/* Estilos para la sección "Productos" */
.productos {
    display: flex;
    justify-content: space-around;
}

.tarjeta {
    flex: 1;
    text-align: center;
    margin: 1rem auto;

    display: grid;
    justify-content: center;
    align-items: center;
}

.tarjeta a {
    margin: 0 auto;
}

.tarjeta img {
    max-width: 250px;
    object-fit: cover;
    aspect-ratio: 1;
}

.tarjeta p {
    height: 3rem;
}

.tarjeta button {
    margin: 0 auto;
}

/* Estilos para la sección "La Piel" */
.la-piel {
    text-align: center;
}

.la-piel p {
    width: 60%;
    margin: 1.5rem auto;
}

.la-piel img {
    object-fit: cover;
    object-position: bottom;

    aspect-ratio: 2.5;
}

/* Estilos para la sección "Tiendas" */
.tiendas {
    display: flex;
    justify-content: space-around;
}

.tiendas .mapa {
    width: 60%;
}

.tiendas iframe {
    width: 100%;
    height: 100%;
}

.tiendas div {
    width: 20%;
}

.tiendas button {
    margin-top: 0.5rem;
}
