/* Estilos globales */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

img {
    width: 100%;
    display: block;
}

a:has(img) {
    width: fit-content;
}

/* Estilos para el header */

header > * {
    display: flex;
    justify-content: space-between;
}

.cabecera {
    background-color: #336699;
}

.logo {
    width: 100px;
    height: 100px;
}

.menu {
    background-color: #6699CC;
}

nav ul {
    list-style-type: none;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .copyright {
    background-color: #333;
    text-align: center;
}

footer .politicas {
    background-color: #444;
    text-align: center;
}

footer .politicas a {
    text-decoration: none;
    display: block;
}

footer .mapa-sitio {
    background-color: #555; 
    text-align: center;

    flex-basis: 40%;
}

.mapa-sitio ul {
    list-style-type: none;
    padding: 0;

    display: grid;
    grid-template-columns: auto auto auto;
}

.mapa-sitio a {
    text-decoration: none;
}

